* {
    margin: 0;
}

body {
    background-color: #98C1D9;
}

html {
    color: white;
    font-size: 16px;
}

a, li, p, h1, h2, h3, 
h4, h5, h6 {
   
    font-family: 'Shrikhand', cursive;
}

.top {
    background-image: url(./pics/pexels-anni-roenkae-3219951.jpg);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 20%;
    color: white;
    text-align: center;
}

.logo h1 {
    font-size: 6rem;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo h3 {
    width: 50%;
    letter-spacing: 1.5px;
    font-family: 'Roboto';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
}

.contact {
    font-size: 2rem;
}

.contact:hover {
    transition: color 1s ease-in;
    cursor: pointer;
    transform: translateX(20px);
    color: #f48c06;
    letter-spacing: .5rem;
    transition: color 1s ease-in, transform 1s ease-in, letter-spacing 2s ease-in;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav p {
    margin-right: 2rem;
}

#about {
    background-color: #323031;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px black solid;
}

#intro p {
    margin-left: 20%;
    font-family: 'Roboto';
    text-align: center;
    font-size: 1.3rem;
}

.intro-item {
    width: 30%;
    height: auto;
}

.myPic {
    padding: 2rem;
    width: 20%;
}

#projects {
    padding: 5%;
    font-size: 1.3rem;
    background-color: #C1BDB3;
    
}

.site-pic {
    width: 50%;
}

#PSA:hover {
    color: ;
}

#PSA-list {
    display: none;
    transition: all 2s ease-in;
}

#psa-pic {
    list-style: none;
}

