* {
    margin: 0;
}

body {
    background-color: #98C1D9;
}

html {
    color: white;
    font-size: 16px;
}

a, li, p, h1, h2, h3, 
h4, h5, h6 {
   
    font-family: 'Abril Fatface', cursive;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
    
}

a:hover, #close-button:hover, #contact-button:hover {
    transition: all 1s ease-in-out;
    cursor: pointer;
    transform: translateY(-5px);
    text-shadow: lightgrey 1px 0 10px;
}

.top {
    background-image: url(./pics/pexels-anni-roenkae-3219951.jpg);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 20%;
    color: white;
    text-align: center;
}

.logo h1 {
    font-size: 6rem;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo h3 {
    width: 50%;
    letter-spacing: 1.5px;
    font-family: 'Roboto';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
}

.contact {
    font-size: 2rem;
    
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav p {
    margin-right: 2rem;
}

#about {
    background-color: #323031;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px black solid;
}

#intro p {
    margin-left: 20%;
    font-family: 'Roboto';
    text-align: center;
    font-size: 1.3rem;
}

.intro-item {
    width: 70%;
    height: auto;
}

.myPic {
    padding: 2rem;
    width: 20%;
}

#projects {
    padding: 5%;
    font-size: 1.3rem;
    background-color: #353535;
    
}

#projects h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.site-pic {
    width: 50%;
}

#PSA:hover, #PFL:hover, #odin:hover {
    color: red;
    transition: all 500ms ease-in-out;
    cursor: pointer;
    transform: translateY(-5px);
}

#psainnerList, #pflinnerList, #odininnerList {
    display: none;
    transition: display 6s ease-in-out;
}

#psa-pic {
    list-style: none;
}

#skills {
    text-align: center;
    background-color: #353535;
    padding: 2%;
}

#languages {
    width: 45%;
    color: rgb(255, 255, 255);
    padding: 2%;
    letter-spacing: 2px;
}

.langs {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
}

.lang {
    width: 25%;
    height: 10%;
}
.lang:hover {
    transition: all 300ms ease-in-out;
    cursor: pointer;
    transform: translateY(-5px);
}

footer {
    background-color: #323031;
    background-position: bottom;
    padding: 2%;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
}

#contact-card {
    position: absolute;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 2%;
    /* background-image: url('./pics/contact-menu.jpg'); */
    background-color: #921a1a;
    background-position: center;
    background-size: cover;
    left: -500px;
    top: 0;
    padding-top: 2%;
    
}

#close-button {
    text-align: right;
    padding: 2%;
}

#skills-box {
    display: inline-flex;
    justify-content: space-between;
}

#strengths {
    width: 45%;
    color: rgb(255, 255, 255);
    padding: 2%;
}

#strength {
    display: flex-column;
    align-content: center;
    justify-content: center;
    margin-top: 10%
}

#strength h5 {
    font-size: 2rem;
    letter-spacing: 5px;
    font-family: 'Roboto';
}

#strength h5::before {
    content: '-';
}

#mobile-list {
    display: none;
}

#hamburger {
    display: none;
}

#contact-section {
    display: none;
}

@media (max-width: 900px){
    #intro {
        flex-direction: column-reverse;
        align-content: center;
        padding-bottom: 5%;
    }

    #intro p {
        margin-left: 0;
    }

    .myPic {
        width: 70%;
    }

    header {
        flex-direction: column;
    }

    .contact-info {
        flex-direction: column;
    }

    header {
        display: none;
    }

    #hamburger {
        display: block;
        padding: 1%;
    }

    #hamburger:hover, #mobile-close:hover {
        cursor: pointer;
    }

    #mobile-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(41, 41, 41);
        padding: 2% 0;
        position: absolute;
        left: -500px;
    }

    #mobile-items {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 50%;
    }

    #mobile-list p {
        margin: 4%;
    }

    #mobile-close {
        position: absolute;
        left: 30px;
        top: 10px;
    }

    #skills-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #languages {
        margin-top: 50px;
    }

    .lang {
        width: 40%;
        height: 20%;
    }

    #strengths {
        margin-top: 50px;
    }


    #strength h5 {
        margin-bottom: 20px;
    }

    #contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #323031;
    }

    #contact-info {
        display: flex;
        justify-content: center;

    }

    #contact-info figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px
    }

}