* {
    margin: 0;
}

body {
    background-color: #98C1D9;
}

html {
    color: black;
    font-size: 16px;
}

a, li, p, h1, h2, h3, 
h4, h5, h6 {
   
    font-family: 'Shrikhand', cursive;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3D3B3C;
    padding: 1.3rem;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.name {
    font-size: 2rem;
    color: #C1BDB3;
}

.name:hover {
    transition: color 1s ease-in;
    cursor: pointer;
    transform: translateX(20px);
    color: #f48c06;
    letter-spacing: .5rem;
    transition: color 1s ease-in, transform 1s ease-in, letter-spacing 2s ease-in;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav p {
    margin-right: 2rem;
}

#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323031;
    width: 100%;
    border-bottom: 1px black solid;
}

#intro p {
    margin-left: 20%;
    box-sizing: border-box;
    background-color: #C1BDB3;
}

.myPic {
    padding: 2rem;
    
}

.intro-item {
    width: 30%;
    height: auto;
}

#projects {
    padding: 5%;
    font-size: 1.3rem;
    background-color: #C1BDB3;
    
}

.site-pic {
    width: 50%;
}

#PSA:hover {
    color: ;
}

#PSA-list {
    display: none;
    transition: all 2s ease-in;
}

#psa-pic {
    list-style: none;
}

